@{
    Layout = "_Layout";
    ViewBag.Title = "Makale Ekle";
}

@model ArticleUpdateViewModel
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Articles" asp-action="Index">Makaleler</a></li>
    <li class="breadcrumb-item"><span>Makale Düzenle</span></li>
</ol>
<form asp-controller="Articles" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row col-md-12 mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" id="articleTitle" class="form-control" placeholder="Makale Başlığı" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea id="text-editor" asp-for="Content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Temel Konfigürasyonlar
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserId" />
                    <div class="form-group">
                        <label for="categoryList" asp-for="CategoryId"></label>
                        <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="datepicker" asp-for="Date"></label>
                        <input type="text" asp-for="Date" id="datepicker" class="form-control" value="@DateTime.Now.ToShortDateString()" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="thumbnailUpload" asp-for="Thumbnail"></label>
                        <input type="hidden" asp-for="Thumbnail" id="thumbnail" accept="image/*" class="form-control-file" />
                        <img src="~/img/@Model.Thumbnail" class="img-fluid img-thumbnail my-image" alt="@Model.Title" />
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="thumbnailUpload" asp-for="ThumbnailFile"></label>
                        <input type="file" asp-for="ThumbnailFile" id="thumbnailUpload" accept="image/*" class="form-control-file" />
                        <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" asp-for="IsActive" id="isActive" class="form-check-input" />
                        <label for="isActive" asp-for="IsActive" class="form-check-label"></label>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    SEO Optimizasyonu
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="seoWriter" asp-for="SeoAuthor"></label>
                                <input type="text" asp-for="SeoAuthor" id="seoWriter" class="form-control" />
                                <span asp-validation-for="SeoAuthor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="seoTags" asp-for="SeoTags"></label>
                            <input type="text" asp-for="SeoTags" id="seoTags" class="form-control" />
                            <span asp-validation-for="SeoTags" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="seoDescription" asp-for="SeoDescription"></label>
                            <textarea id="seoDescription" asp-for="SeoDescription" class="form-control"></textarea>
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/langs/tr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/emoji/trumbowyg.emoji.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="~/AdminAreas/js/articlesAdd.js" type="application/ecmascript"></script>
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/ui/trumbowyg.colors.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/emoji/ui/trumbowyg.emoji.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/redmond/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/redmond/theme.min.css" />
    <link href="~/AdminAreas/css/select2-bootstrap4.min.css" rel="stylesheet" />
}